.textInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 10px auto 10px;
}

.textInput:hover {
    transform: scale(1.05);
}

.textInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
}

.radioInput {
    font-size: 10px;
}

.buttonInput {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px rgb(194, 194, 194);
    cursor: pointer;
    color: white;
    background-color: darkcyan;
    font-size: 15px;
}
